* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #e6e8e3;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.score-and-buttons-container {
  margin-top: 10px;
  display: none;
  grid-template-rows: 40px 30px;
  grid-template-columns: 4fr 1fr 100px;
  width: 300px;
}
#headline {
  margin-top: 10px;
  font-size: 30pt;
  color: #31535f;
}

#score-container {
  grid-row: 1;
  grid-column: 1;
  color: #577681;
  height: 50px;
}
#score-label {
  /* width: 60px; */
}
#score-value {
  font-size: 30pt;
}
#arrow-container {
  background-color: #fdfbc1;
  text-align: center;
  margin: 2px;
  line-height: 42px;
}
#arrow {
  grid-row: 1;
  grid-column: 2;
  width: 30px;
}
#start-button {
  grid-row: 1;
  grid-column: 3;
}
#undo-last-move {
  grid-row: 2;
  grid-column: 3;
}

#start-button,
#undo-last-move {
  border: none;
  outline: none;
  background-color: #fdfbc1;
  color: #525252;
  width: 100px;
  margin: 2px;
  font-size: 12pt;
}

/* #game-area-size-1 {
  position: relative;
  display: none;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 5px solid #888888;
  border-radius: 5px;
  left: 0;
  right: 0;
  background-color: #888888;
  height: 195px;
  width: 195px;
  margin: 20px auto;
  opacity: 0.5;
} */

.choose-game-area-container {
  margin-top: 50px;
}
.choose-game-area {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  color: #27505f;
  font-size: 16pt;
}

#choose-game-area-img {
  width: 300px;
  height: 300px;
}

.game-area {
  position: relative;
  display: none;
  row-gap: 5px;
  column-gap: 5px;
  border: 5px solid #bbada0;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: 20px auto;
  background-color: #bbada0;
}

#help {
  position: fixed;
  bottom: 10px;
  width: 300px;
  text-align: right;
  color: #31525e;
}
#close {
  position: absolute;
  top: 5px;
  right: 10px;
}
p {
  margin-bottom: 5px;
}
#how-to-play-box {
  display: none;
  position: fixed;
  bottom: 0;
  width: 295px;
  font-size: 10pt;
  background-color: #808080c2;
  padding: 5px;
  color: #efefef;
  z-index: 1;
}
#how-to-play {
  font-size: 12pt;
  margin-bottom: 10px;
}

/* @media (-webkit-device-pixel-ratio: 1) { */
/* @media screen and (min-width: 500px) and (max-width: 699px) {
  .frame {
    position: relative;
    top: 3.5% !important;
    bottom: 3.5% !important;
    left: 3.5% !important;
    right: 3.5% !important;
    width: 93% !important;
    height: 93% !important;
    background: lightblue !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 899px) {
  .frame {
    position: relative;
    top: 3.5% !important;
    bottom: 3.5% !important;
    left: 3.5% !important;
    right: 3.5% !important;
    width: 93% !important;
    height: 93% !important;
    background: lightcoral !important;
  }
}
@media screen and (min-width: 900px) {
  .frame {
    position: relative;
    top: 3.5% !important;
    bottom: 3.5% !important;
    left: 2.5% !important;
    right: 2.5% !important;
    width: 95% !important;
    height: 93% !important;
    background: lightgray !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) and (orientation: portrait) {
  .frame {
    position: relative;
    top: 2.5% !important;
    bottom: 2.5% !important;
    left: 3.5% !important;
    right: 3.5% !important;
    width: 93% !important;
    height: 95% !important;
    background: lightcoral !important;
  }
} */
